<div class="card">
    <div class="center-image">
        <img class="size-image" [src]="product.image" [alt]="product.title">
        <h5 class="card-title">{{product.title | uppercase}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{product.price | currency }}</h6>

    </div>

    <div class="container-fluid">
        <p class="card-text">{{product.description}}</p>
        <button class="btn btn-block btn-success" (click)="AddCart()">Comprar</button>
        <button class="btn btn-block btn-outline-danger" [routerLink]="['/products', product.id]">Detalle</button>
    </div>
</div>